<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{contact.name}}</h3>
        <img src="{{ contact.imageUrl }}" alt="{{contact.name}}" class="img-reponsive" style="max-height: 50px;">
        <span>
          <button class="btn-primary pull-right">Edit</button>
          <button class="btn-danger pull-right">Delete</button>
        </span>
    </div>
    <div class="panel-body">
      <div class="col-xs-12">
        <p>Email: </p>
        <p>Phone:</p>
     </div>
    </div>
  </div>